body {
  margin: 0;
  height: 100%;
  overflow: hidden;
font-family: Helvetica,monospace;
}

center {
    display: block;
    text-align: -webkit-center;
}

.videocontainer {
  width: calc(50% - 8px);
  height: calc(100% - 8px);
}

.over-container {
  z-index: 1001;
  opacity: 1;
}

.container, .container2 {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 1.2s;
}

.over-container {
    z-index: 1001;
    opacity: 1;
}

.pop-links {
    padding: 0 30px;
    width: 360px;
    margin-top: 20px;
    height: 360px;
}

.pop-l {
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
    width: 150px;
    font-family: consolas, consola;
    font-size: 12px;
    color: #444;
    transition: 0.6s;
    cursor: pointer;
}

.pop-l:hover {
    background-color: #f8f8f8;
}

.show-pop-tou {
  z-index: 1000;
}

.pop-tou {

}

.pop-tou, .pop-more {
    width: 400px;
    height: 250px;
    background-color: rgba(0, 0, 0, .5);
    /* background-image: url(https://static.tumblr.com/2icx37z/4Gep2smq1/light_hives.png); */
    padding: 20px;
    position: relative;
    border: 1px solid black;
    z-index: 1;
    transition: 1.2s;
}

.pop-tou { margin-top: 90px;}
.pop-more { margin-top: 90px; }

.show-pop-tou, .show-pop-more {
    z-index: 1000;
}

.btntoux, .btnmorex {
    font-family: consolas, consola;
    font-size: 14px;
    color: #aaa;
    width: 20px;
    height: 20px;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    margin: 20px 421px;
    transition: 0.6s;
    /* z-index: 1; */
    opacity: 0;
}

.btntoux:hover, .btnmorex:hover { color: red; }

/* #btntoux, #btnmorex {
    font-family: consolas, consola;
    font-size: 14px;
    color: #aaa;
    width: 20px;
    height: 20px;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    margin: 20px 421px;
    transition: 0.6s;
    /* z-index: 1; */
    /* opacity: 1; */
/* } */

/* #btntoux:hover, #btnmorex:hover { color: #e5c145; }  */

.pop-content {
    width: 400px;
    height: 250px;
    float: left;
    transition: 1.6s;
    background-color: #fff;
    opacity: 1;
}

.pop-content-res, .pop-content-tut { opacity: 0; }
.show-pop-content-res, .show-pop-content-tut { opacity: 1; }
.hide-pop-content-links { opacity: 0; }
#btntoux:after {opacity: 1; }

.pop-header {
    font-family: kaori;
    font-size: 16px;
    /* color: #999; */
    /* letter-spacing: 8px; */
    padding: 30px 0 0 0;
}

.pop-tou-txt {
    width: 330px;
    padding: 0 20px 20px 0px;
    font-family: consolas, consola;
    font-size: 12px;
    text-align: center;
    color: #666;
}

.tou-txt-light {
    font-size: 9px;
    letter-spacing: 1px;
    color: #afafaf;
    text-transform: uppercase;
}

.ikigai, .ikigai-e {
    width: 30px;
    height: 4px;
    /* border-radius: 1000px; */
    background-color: #a0a0a0;
    margin: 20px 0;
}

.show-overl {
    z-index: 1000;
    opacity: 0.85;
}

.overl {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 1.2s;
}

#coin img {
  padding: 30px;
  /* position: absolute; */
  width: 25px;
  -webkit-animation-play-state:paused;
  /* z-index: 2; */
  cursor: pointer;
  top: inherit;
  left: inherit;
  animation-iteration-count: 1;
  /* animation: move 5s normal;
  animation-fill-mode: forwards; */
  /* transform: translate(-616px,308px) rotateY(100deg); */
  /* transform: rotateY(100deg); */
}

#coin.active img {
  animation: move 5s normal;
  animation-fill-mode: forwards;
}

.move {
  animation: move 5s normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move {
  /* 0%{transform: translate(3000px,0px);}
  20%{transform: translate(-1000px,-10px);}
  /* 50%{transform: translate(480px,-50px);} */
  /* 75%{transform: translate(-616px,290px); opacity: 1;}
  100%{transform: translate(-616px,290px) rotateY(100deg);
      opacity: 0;} */
      75%{transform: translate(calc(100% - 705px),calc(100% - -205px)); opacity: 1;}
      100%{transform: translate(calc(100% - 705px),calc(100% - -205px)) rotateY(100deg);
          opacity: 0;}
          /* 75%{transform: translate(-55vw, 32vh); opacity: 1;}
          100%{transform: translate(-55vw, 32vh) rotateY(100deg);
              opacity: 0;} */
}

#ref {
  position: absolute;
  width: 1345px;
  opacity: 0.3;
}

#yucabody {
  position: absolute;
  width: 1345px;
}

#glass img {
  position: absolute;
  transform: scale(0.235,.235);
  left: -590px;;
  top: -203px;
  opacity: .4;
  z-index: 3;
}

#discs video {
  position: absolute;
  transform: scale(0.235,.235);
  left: -590px;;
  top: -203px;
  opacity: 1;
  z-index: 5;
}

#coinbutton svg{
  position: absolute;
  width: 11px;
  z-index: 2;
  cursor: pointer;
  top: 608px;
  left: 201px;
  fill: white;
}

#coinbutton.active svg {
  fill: red;
  transition: 1.2s;
}


#b1 svg {
  position: absolute;
  width: 11px;
  z-index: 2;
  cursor: help;
  top: 437px;
  left: 206px;
  fill: white;
}

#b1.active svg {
  fill: red;
  transition: 1.2s;
}

#b1.active svg:hover {
  fill: #FF9D9D;
  transition: .2s;
}

#b2 svg {
  position: absolute;
  width: 11px;
  z-index: 2;
  cursor: help;
  top: 455px;
  left: 206px;
  fill: white;
}

  #b2.active svg {
  fill: red;
  transition: 1.2s;
}

#b3 svg {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 206px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b3.active svg {
  fill: red;
  transition: 1.2s;
}

#b4 svg {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 206px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b4.active svg {
  fill: red;
  transition: 1.2s;
}

#b5 svg {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 206px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b5.active svg {
  fill: red;
  transition: 1.2s;
}

#b6 svg {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 206px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b6.active svg {
  fill: red;
  transition: 1.2s;
}

#b7 svg {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 284px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b7.active svg {
  fill: red;
  transition: 1.2s;
}

#b8 svg {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 284px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b8.active svg {
  fill: red;
  transition: 1.2s;
}

#b9 svg {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 284px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b9.active svg {
  fill: red;
  transition: 1.2s;
}

#b10 svg {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 284px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b10.active svg {
  fill: red;
  transition: 1.2s;
}

#b11 svg {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 284px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b11.active svg {
  fill: red;
  transition: 1.2s;
}

#b12 svg {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 284px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b12.active svg {
  fill: red;
  transition: 1.2s;
}

#b13 svg {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 360px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b13.active svg {
  fill: red;
  transition: 1.2s;
}

#b14 svg {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 360px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b14.active svg {
  fill: red;
  transition: 1.2s;
}

#b15 svg {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 360px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b15.active svg {
  fill: red;
  transition: 1.2s;
}

#b16 svg {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 360px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b16.active svg {
  fill: red;
  transition: 1.2s;
}

#b17 svg {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 360px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b17.active svg {
  fill: red;
  transition: 1.2s;
}

#b18 svg {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 360px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b18.active svg {
  fill: red;
  transition: 1.2s;
}

#b19 svg {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 436px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b19.active svg {
  fill: red;
  transition: 1.2s;
}

#b20 svg {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 436px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b20.active svg {
  fill: red;
  transition: 1.2s;
}

#b21 svg {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 436px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b21.active svg {
  fill: red;
  transition: 1.2s;
}

#b22 svg {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 436px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b22.active svg {
  fill: red;
  transition: 1.2s;
}

#b23 svg {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 436px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b23.active svg {
  fill: red;
  transition: 1.2s;
}

#b24 svg {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 436px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b24.active svg {
  fill: red;
  transition: 1.2s;
}

#b25 svg {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 514px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b25.active svg {
  fill: red;
  transition: 1.2s;
}

#b26 svg {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 514px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b26.active svg {
  fill: red;
  transition: 1.2s;
}

#b27 svg {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 514px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b27.active svg {
  fill: red;
  transition: 1.2s;
}

#b28 svg {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 514px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b28.active svg {
  fill: red;
  transition: 1.2s;
}

#b29 svg {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 514px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b29.active svg {
  fill: red;
  transition: 1.2s;
}

#b30 svg {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 514px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b30.active svg {
  fill: red;
  transition: 1.2s;
}

#b31 svg {
  position: absolute;
  width: 11px;
  top: 437px;
  left: 592px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b31.active svg {
  fill: red;
  transition: 1.2s;
}

#b32 svg {
  position: absolute;
  width: 11px;
  top: 455px;
  left: 592px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b32.active svg {
  fill: red;
  transition: 1.2s;
}

#b33 svg {
  position: absolute;
  width: 11px;
  top: 473px;
  left: 592px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b33.active svg {
  fill: red;
  transition: 1.2s;
}

#b34 svg {
  position: absolute;
  width: 11px;
  top: 490px;
  left: 592px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b34.active svg {
  fill: red;
  transition: 1.2s;
}

#b35 svg {
  position: absolute;
  width: 11px;
  top: 508px;
  left: 592px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b35.active svg {
  fill: red;
  transition: 1.2s;
}

#b36 svg {
  position: absolute;
  width: 11px;
  top: 526px;
  left: 592px;
  z-index: 2;
  cursor: help;
  fill: white;
}

#b36.active svg {
  fill: red;
  transition: 1.2s;
}

.vidframe {
  width: 560px;
  height: 315px;
  margin-right: 8px;
  background-color: black;
  cursor: grab;
  position: absolute;
  top: 55px;
  left: 913px;
  z-index: 3;
  padding: 25px;
}

.vid-btntoux {
    font-family: consolas, consola;
    font-size: 14px;
    color: #aaa;
    width: 20px;
    height: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    margin: 20px 585px;
    transition: 0.6s;
    /* z-index: 1; */
    opacity: 0;
}

.vid-btntoux:hover { color: red; }

#vid-b1, #vid-b2,
#vid-b3, #vid-b4,
#vid-b5, #vid-b6,
#vid-b7, #vid-b8,
#vid-b9, #vid-b10,
#vid-b11, #vid-b12,
#vid-b13, #vid-b14,
#vid-b15, #vid-b16,
#vid-b17, #vid-b18,
#vid-b19, #vid-b20,
#vid-b21, #vid-b22,
#vid-b23, #vid-b24,
#vid-b25, #vid-b26,
#vid-b27, #vid-b28,
#vid-b29, #vid-b30,
#vid-b31, #vid-b32,
#vid-b33, #vid-b34,
#vid-b35, #vid-b36 {
  opacity: 0;
  transition: 1.2s;
  position: absolute;
}
